<a href="https://colab.research.google.com/github/kipsangchepesa/CYBEKA/blob/main/Copy_of_time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
timedf=pd.read_csv("https://github.com/Yorko/mlcourse.ai/raw/master/data/wiki_machine_learning.csv")
timedf.tail(10)

     date "count" "lang" "page" "rank" "month" "title"
374  379 2016-01-11 3083 "en" "Machine_learning" "8...
375  378 2016-01-12 3319 "en" "Machine_learning" "8...
376  377 2016-01-13 3145 "en" "Machine_learning" "8...
377  384 2016-01-14 3164 "en" "Machine_learning" "8...
378  383 2016-01-15 2743 "en" "Machine_learning" "8...
379  382 2016-01-16 1644 "en" "Machine_learning" "8...
380  381 2016-01-17 1836 "en" "Machine_learning" "8...
381  376 2016-01-18 2983 "en" "Machine_learning" "8...
382  375 2016-01-19 3389 "en" "Machine_learning" "8...
383  372 2016-01-20 3559 "en" "Machine_learning" "8...