<a href="https://colab.research.google.com/github/kipsangchepesa/CYBEKA/blob/main/DSP_group4_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Libraries**

In [ ]:
#Here we import the libraries we will use in the project

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Reading Data from our xlsx file**

In [ ]:
# Let's read the data from the excel file and create the dataframe we will use

df = pd.read_excel("/content/data v2.xlsx") 
df.head(3)

                           start                            end  ...  _tags  _notes
0  2021-05-06T09:50:26.433+03:00  2021-05-09T14:07:55.548+03:00  ...    NaN     NaN
1  2021-05-05T20:41:15.214+03:00  2021-05-08T11:33:45.347+03:00  ...    NaN     NaN
2  2021-05-07T10:23:20.976+03:00  2021-05-09T12:34:56.000+03:00  ...    NaN     NaN

[3 rows x 44 columns]

# **Accessing information about our Dataset**

In [ ]:
#getting to know more about the dataset
def shep(data):
  shape= df.shape
  return shape

shep(df)

(5736, 44)

In [ ]:
#accesing dataset information
def inf(data):
  info=df.info()
  return info

inf(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 44 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   start                                      5736 non-null   object
 1   end                                        5736 non-null   object
 2   time                                       5736 non-null   float64
 3   minutes                                    5736 non-null   float64
 4   Insert_Geotag_Location                     5736 non-null   object
 5   _Insert_Geotag_Location_latitude           5736 non-null   float64
 6   _Insert_Geotag_Location_longitude          5736 non-null   float64
 7   _Insert_Geotag_Location_altitude           5736 non-null   float64
 8   _Insert_Geotag_Location_precision          5736 non-null   float64
 9   Name_of_Enumerator                         5736 non-null   object
 10  County                                     5736 non-null   object
 11  _1_Age                                     5736 non-null   object
 12  _2_Gender                                  5736 non-null   object
 13  _3_Monthly_Income                          5736 non-null   object
 14  _4_Highest_Level_of_Education_Attained     5736 non-null   object
 15  _5_Occupation                              5736 non-null   object
 16  _6_Location                                5736 non-null   object
 17  _7_Did_you_vote_in_2017                    5736 non-null   object
 18  _8_Will_you_vote_in_the_Refere             5736 non-null   object
 19  _9_If_No_Why                               1377 non-null   object
 20  _10_How_will_you_vote_in_the_Referendum    5736 non-null   object
 21  _11_If_elections_are_o_would_you_vote_for  5736 non-null   object
 22  _12_If_you_don_t_vot_s_your_second_choice  5736 non-null   object
 23  _13_Do_you_support_BBI                     5736 non-null   object
 24  _14_Do_you_know_what_BBI_wants_to_change   5736 non-null   object
 25  _15_Do_you_support_the_Hustler_Nation      5736 non-null   object
 26  _16_Do_you_think_the_ake_brought_us_peace  5736 non-null   object
 27  _17_Who_has_influenc_st_in_your_community  5736 non-null   object
 28  _18_Do_you_trust_your_political_leaders    5736 non-null   object
 29  _19_Do_you_trust_your_religious_leaders    5736 non-null   object
 30  _20_Do_you_trust_your_elders               5736 non-null   object
 31  _21_Where_do_you_get_your_News_from        5736 non-null   object
 32  _22_Have_you_understood_BBI_completely     5736 non-null   object
 33  _23_Will_you_vote_in_2022                  5736 non-null   object
 34  __version__                                5736 non-null   object
 35  meta/instanceID                            5736 non-null   object
 36  _id                                        5736 non-null   int64
 37  _uuid                                      5736 non-null   object
 38  _submission_time                           5736 non-null   object
 39  _index                                     5736 non-null   int64
 40  _parent_table_name                         0 non-null      float64
 41  _parent_index                              5736 non-null   int64
 42  _tags                                      0 non-null      float64
 43  _notes                                     0 non-null      float64
dtypes: float64(9), int64(3), object(32)
memory usage: 1.9+ MB

In [ ]:
#representation of our data county-wise

z=df.groupby(['County'])['_id'].count().sort_values(ascending=False)
z

County
nairobi        306
trans_nzoia    305
embu           303
machakos       303
nyeri          302
kitui          300
kiambu         298
uasin_gishu    292
kirinyaga      290
laikipia       288
kericho        284
nakuru         282
meru           280
mombasa        280
narok          279
kisumu         277
migori         273
isiolo         269
kisii          267
kakamega       258
Name: _id, dtype: int64

# **Cleaning our Dataset**

# Validity

In [ ]:
df

                              start  ... _notes
0     2021-05-06T09:50:26.433+03:00  ...    NaN
1     2021-05-05T20:41:15.214+03:00  ...    NaN
2     2021-05-07T10:23:20.976+03:00  ...    NaN
3     2021-05-08T09:39:09.429+03:00  ...    NaN
4     2021-05-06T09:57:19.279+03:00  ...    NaN
...                             ...  ...    ...
5731  2021-05-08T15:54:56.476+03:00  ...    NaN
5732  2021-05-09T13:11:36.821+03:00  ...    NaN
5733  2021-05-08T11:37:11.972+03:00  ...    NaN
5734  2021-05-08T15:56:05.723+03:00  ...    NaN
5735  2021-05-08T15:46:22.615+03:00  ...    NaN

[5736 rows x 44 columns]

In [ ]:
df.drop(["start","end", "time ", "minutes", "Insert_Geotag_Location", "_Insert_Geotag_Location_latitude", 
           "_Insert_Geotag_Location_longitude", "_Insert_Geotag_Location_altitude","_Insert_Geotag_Location_precision",
           "Name_of_Enumerator","__version__","meta/instanceID","_id","_uuid","_submission_time","_index","_parent_table_name",
           "_parent_index","_tags","_notes"], axis=1, inplace = True)
# df.columns = df.columns.str.replace(' ', '_')
df.head()

        County  ... _23_Will_you_vote_in_2022
0  trans_nzoia  ...                  response
1      mombasa  ...                       yes
2        kitui  ...                       yes
3       migori  ...                       yes
4      mombasa  ...                       yes

[5 rows x 24 columns]

# Accuracy

In [ ]:
inf(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 24 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   County                                     5736 non-null   object
 1   _1_Age                                     5736 non-null   object
 2   _2_Gender                                  5736 non-null   object
 3   _3_Monthly_Income                          5736 non-null   object
 4   _4_Highest_Level_of_Education_Attained     5736 non-null   object
 5   _5_Occupation                              5736 non-null   object
 6   _6_Location                                5736 non-null   object
 7   _7_Did_you_vote_in_2017                    5736 non-null   object
 8   _8_Will_you_vote_in_the_Refere             5736 non-null   object
 9   _9_If_No_Why                               1377 non-null   object
 10  _10_How_will_you_vote_in_the_Referendum    5736 non-null   object
 11  _11_If_elections_are_o_would_you_vote_for  5736 non-null   object
 12  _12_If_you_don_t_vot_s_your_second_choice  5736 non-null   object
 13  _13_Do_you_support_BBI                     5736 non-null   object
 14  _14_Do_you_know_what_BBI_wants_to_change   5736 non-null   object
 15  _15_Do_you_support_the_Hustler_Nation      5736 non-null   object
 16  _16_Do_you_think_the_ake_brought_us_peace  5736 non-null   object
 17  _17_Who_has_influenc_st_in_your_community  5736 non-null   object
 18  _18_Do_you_trust_your_political_leaders    5736 non-null   object
 19  _19_Do_you_trust_your_religious_leaders    5736 non-null   object
 20  _20_Do_you_trust_your_elders               5736 non-null   object
 21  _21_Where_do_you_get_your_News_from        5736 non-null   object
 22  _22_Have_you_understood_BBI_completely     5736 non-null   object
 23  _23_Will_you_vote_in_2022                  5736 non-null   object
dtypes: object(24)
memory usage: 1.1+ MB

In [ ]:
df.columns = df.columns.str.replace('_', ' ')

In [ ]:
df.columns = ['County', 'Age', 'Gender', 'Monthly Income',
       'Highest Level of Education Attained', 'Occupation',
       'Location', 'Did you vote in 2017',
       'Will you vote in the Refere', 'If No Why',
       'How will you vote in the Referendum',
       'If elections are today who would you vote for',
       'If you dont vote for that one who is your second choice', 'Do you support BBI',
       'Do you know what BBI wants to change',
       'Do you support the Hustler Nation',
       'Do you think the handshake brought us peace',
       'Who influences youin your community',
       'Do you trust your political leaders',
       'Do you trust your religious leaders',
       'Do you trust your elders', 'Where do you get your News from',
       'Have you understood BBI completely', 'Will you vote in 2022']
df.head()

        County    Age  ... Have you understood BBI completely Will you vote in 2022
0  trans_nzoia  25_30  ...                       i_don_t_care              response
1      mombasa  25_30  ...                                 no                   yes
2        kitui  25_30  ...                                yes                   yes
3       migori  31_35  ...                                yes                   yes
4      mombasa  41_50  ...                                 no                   yes

[5 rows x 24 columns]

In [ ]:
df.columns

Index(['County', 'Age', 'Gender', 'Monthly Income',
       'Highest Level of Education Attained', 'Occupation', 'Location',
       'Did you vote in 2017', 'Will you vote in the Refere', 'If No Why',
       'How will you vote in the Referendum',
       'If elections are today who would you vote for',
       'If you dont vote for that one who is your second choice',
       'Do you support BBI', 'Do you know what BBI wants to change',
       'Do you support the Hustler Nation',
       'Do you think the handshake brought us peace',
       'Who influences youin your community',
       'Do you trust your political leaders',
       'Do you trust your religious leaders', 'Do you trust your elders',
       'Where do you get your News from', 'Have you understood BBI completely',
       'Will you vote in 2022'],
      dtype='object')

In [ ]:
df["Occupation"].str.replace(r'\W',"")

0                              hustler
1       business_owner__hotel_shop_kio
2       formal_employment__teacher_acc
3                              hustler
4       informal_employment__jua_kali_
                     ...
5731    cash_crop_farmer_commercial_fi
5732    subsistence_farmer_subsistence
5733    cash_crop_farmer_commercial_fi
5734    formal_employment__teacher_acc
5735    cash_crop_farmer_commercial_fi
Name: Occupation, Length: 5736, dtype: object

In [ ]:
for column in df.columns:
     df[column] =   df[column].str.replace(r'\W',"")

In [ ]:
df.head()

        County    Age  ... Have you understood BBI completely Will you vote in 2022
0  trans_nzoia  25_30  ...                       i_don_t_care              response
1      mombasa  25_30  ...                                 no                   yes
2        kitui  25_30  ...                                yes                   yes
3       migori  31_35  ...                                yes                   yes
4      mombasa  41_50  ...                                 no                   yes

[5 rows x 24 columns]

In [ ]:
df["Age"]= df["Age"].str.replace('_','-')
df.tail()

     County    Age  ... Have you understood BBI completely Will you vote in 2022
5731  kisii  25-30  ...                                 no                   yes
5732  kisii  25-30  ...                                 no                   yes
5733  kisii  25-30  ...                                 no                   yes
5734  kisii  36-40  ...                                 no                   yes
5735  kisii  18-24  ...                              maybe                   yes

[5 rows x 24 columns]

In [ ]:
df["Monthly Income"]= df["Monthly Income"].str.replace('_',',')
df.tail()

     County    Age  ... Have you understood BBI completely Will you vote in 2022
5731  kisii  25-30  ...                                 no                   yes
5732  kisii  25-30  ...                                 no                   yes
5733  kisii  25-30  ...                                 no                   yes
5734  kisii  36-40  ...                                 no                   yes
5735  kisii  18-24  ...                              maybe                   yes

[5 rows x 24 columns]

In [ ]:

df["Monthly Income"]= df["Monthly Income"].str.replace(',,,','-')
df["Monthly Income"]= df["Monthly Income"].str.replace(',,','-')
df.tail()

     County    Age  ... Have you understood BBI completely Will you vote in 2022
5731  kisii  25-30  ...                                 no                   yes
5732  kisii  25-30  ...                                 no                   yes
5733  kisii  25-30  ...                                 no                   yes
5734  kisii  36-40  ...                                 no                   yes
5735  kisii  18-24  ...                              maybe                   yes

[5 rows x 24 columns]

In [ ]:
df["Monthly Income (Kshs)"]= df["Monthly Income"].str.replace('kshs,','')

df["Monthly Income"]= df["Monthly Income (Kshs)"]
df.head()

        County    Age  ... Will you vote in 2022 Monthly Income (Kshs)
0  trans_nzoia  25-30  ...              response              0-11,000
1      mombasa  25-30  ...                   yes         11,001-20,000
2        kitui  25-30  ...                   yes         20,001-50,000
3       migori  31-35  ...                   yes         11,001-20,000
4      mombasa  41-50  ...                   yes              0-11,000

[5 rows x 25 columns]

In [ ]:
df.to_csv('df_new.csv')
df_new

# Completeness

In [ ]:
df_new =pd.read_csv('/content/df_new.csv')
# df_new.head()
inf(df_new)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 25 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   County                                                   5736 non-null   object
 1   Age                                                      5736 non-null   object
 2   Gender                                                   5736 non-null   object
 3   Monthly Income                                           5736 non-null   object
 4   Highest Level of Education Attained                      5736 non-null   object
 5   Occupation                                               5736 non-null   object
 6   Location                                                 5736 non-null   object
 7   Did you vote in 2017                                     5736 non-null   object
 8   Will you vote in the Refere                              5736 non-null   object
 9   If No Why                                                1377 non-null   object
 10  How will you vote in the Referendum                      5736 non-null   object
 11  If elections are today who would you vote for            5736 non-null   object
 12  If you dont vote for that one who is your second choice  5736 non-null   object
 13  Do you support BBI                                       5736 non-null   object
 14  Do you know what BBI wants to change                     5736 non-null   object
 15  Do you support the Hustler Nation                        5736 non-null   object
 16  Do you think the handshake brought us peace              5736 non-null   object
 17  Who influences youin your community                      5736 non-null   object
 18  Do you trust your political leaders                      5736 non-null   object
 19  Do you trust your religious leaders                      5736 non-null   object
 20  Do you trust your elders                                 5736 non-null   object
 21  Where do you get your News from                          5736 non-null   object
 22  Have you understood BBI completely                       5736 non-null   object
 23  Will you vote in 2022                                    5736 non-null   object
 24  Monthly Income (Kshs)                                    5736 non-null   object
dtypes: object(25)
memory usage: 1.1+ MB

In [ ]:
#checking for columns with null entries
df_new.isnull().any()

Unnamed: 0                                                 False
County                                                     False
Age                                                        False
Gender                                                     False
Monthly Income                                             False
Highest Level of Education Attained                        False
Occupation                                                 False
Location                                                   False
Did you vote in 2017                                       False
Will you vote in the Refere                                False
If No Why                                                   True
How will you vote in the Referendum                        False
If elections are today who would you vote for              False
If you dont vote for that one who is your second choice    False
Do you support BBI                                         False
Do you know what BBI wants to change                       False
Do you support the Hustler Nation                          False
Do you think the handshake brought us peace                False
Who influences youin your community                        False
Do you trust your political leaders                        False
Do you trust your religious leaders                        False
Do you trust your elders                                   False
Where do you get your News from                            False
Have you understood BBI completely                         False
Will you vote in 2022                                      False
Monthly Income (Kshs)                                      False
dtype: bool

In [ ]:
#number of null entries
df_new.isnull().sum().sum()

4359

# Consistency

In [ ]:
#checking our data for duplicates
df_new.duplicated().sum()

0

In [ ]:
#outliers
inf(df_new)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 25 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   County                                                   5736 non-null   object
 1   Age                                                      5736 non-null   object
 2   Gender                                                   5736 non-null   object
 3   Monthly Income                                           5736 non-null   object
 4   Highest Level of Education Attained                      5736 non-null   object
 5   Occupation                                               5736 non-null   object
 6   Location                                                 5736 non-null   object
 7   Did you vote in 2017                                     5736 non-null   object
 8   Will you vote in the Refere                              5736 non-null   object
 9   If No Why                                                1377 non-null   object
 10  How will you vote in the Referendum                      5736 non-null   object
 11  If elections are today who would you vote for            5736 non-null   object
 12  If you dont vote for that one who is your second choice  5736 non-null   object
 13  Do you support BBI                                       5736 non-null   object
 14  Do you know what BBI wants to change                     5736 non-null   object
 15  Do you support the Hustler Nation                        5736 non-null   object
 16  Do you think the handshake brought us peace              5736 non-null   object
 17  Who influences youin your community                      5736 non-null   object
 18  Do you trust your political leaders                      5736 non-null   object
 19  Do you trust your religious leaders                      5736 non-null   object
 20  Do you trust your elders                                 5736 non-null   object
 21  Where do you get your News from                          5736 non-null   object
 22  Have you understood BBI completely                       5736 non-null   object
 23  Will you vote in 2022                                    5736 non-null   object
 24  Monthly Income (Kshs)                                    5736 non-null   object
dtypes: object(25)
memory usage: 1.1+ MB

# Answering the research questions

In [ ]:
# Do Kenyans understand what the BBI entails?
df_new["Do you know what BBI wants to change"].unique()

array(['yes', 'no', 'a_little'], dtype=object)

In [ ]:
#kenyans who knows BBI
know = df_new["Do you know what BBI wants to change"] == "yes"
know.sum()

1077

In [ ]:
#who do not know 
no = df_new['Do you know what BBI wants to change'] == 'no'
no.sum()

2748

In [ ]:
#who know little about BBI
little=df_new['Do you know what BBI wants to change'] == 'a_little'
little.sum()

1911

In [ ]:
# Where do you get your News from
df_new["Where do you get your News from"].unique()

array(['tv', 'radio', 'whatsapp', 'facebook', 'youtube', 'newspapers',
       'my_friends', 'twitter'], dtype=object)

In [ ]:
#Where do you get your News from
df_new['Where do you get your News from'].value_counts()

tv            2746
radio         1698
facebook       438
whatsapp       276
twitter        188
newspapers     174
youtube        109
my_friends     107
Name: Where do you get your News from, dtype: int64

In [ ]:
#those who know about bbi and where they get knews from
yes_only = df_new.loc[(df['Do you know what BBI wants to change'] == 'yes')]
yes_only
allyes = yes_only.groupby('Where do you get your News from')[['Do you know what BBI wants to change']].count()
allyes['Do you know what BBI wants to change']

Where do you get your News from
facebook       78
my_friends     14
newspapers     67
radio         199
tv            587
twitter        56
whatsapp       50
youtube        26
Name: Do you know what BBI wants to change, dtype: int64

In [ ]:
#those who know a little about bbi and where they get knews from
little = df_new.loc[(df['Do you know what BBI wants to change'] == 'a_little')]
little
alittle = little.groupby('Where do you get your News from')[['Do you know what BBI wants to change']].count()
alittle['Do you know what BBI wants to change']

Where do you get your News from
facebook      147
my_friends     23
newspapers     51
radio         499
tv            986
twitter        64
whatsapp      103
youtube        38
Name: Do you know what BBI wants to change, dtype: int64

In [ ]:
df_new["Do you support BBI"].unique()

array(['thinking_about_it', 'yes', 'no', 'don_t_care'], dtype=object)

In [ ]:
# those thinking about it but not decided on whether to support BBi
thinking = df_new["Do you support BBI"] == "thinking_about_it"
thinking.sum()

1128

In [ ]:
#those in full support of BBI
fullsupport = df_new["Do you support BBI"] == "yes"
fullsupport.sum()

1651

In [ ]:
#donot fully support BBi
nosupport = df_new["Do you support BBI"] == "no"
nosupport.sum()

2637

In [ ]:
#who donot care about BBI
notcaring = df_new["Do you support BBI"] == "don_t_care"
notcaring.sum()

320

In [ ]:
# Which regions are likely to support the BBI?
BBIsupport =df_new.loc[(df['Do you support BBI'] == 'yes')]
BBIsupport
support = BBIsupport.groupby('County')[['Do you support BBI']].count().sort_values(by='Do you support BBI',ascending=False) 
support['Do you support BBI']

County
migori         171
narok          155
kisumu         124
nairobi        119
laikipia       115
kisii          114
kirinyaga       96
kitui           90
trans_nzoia     71
kiambu          65
kakamega        63
isiolo          63
nyeri           61
machakos        58
nakuru          58
uasin_gishu     54
mombasa         53
embu            52
kericho         36
meru            33
Name: Do you support BBI, dtype: int64

In [ ]:
# How does BBI support compare based on Gender, Age group and Monthly income?

In [ ]:
# Will a voter  participate in a referendum & how they would vote?
# How are Kenyans who voted in 2017 likely to vote in the referendum?
# Does the BBI or Hustler Nation support influence voter preference in 2022?